body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: whitesmoke;
}

.buffer {
  height: 10rem;
}

hr {
  border-color: #007bff;
  border-width: 3px;
  max-width: 50px;
  margin-top: 10px;
}

.btn {
  padding: 10px 30px;
  border-radius: 300px;
}

.btn:active {
  transform: scale(.95);
}
